@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: url(/fonts/inter/inter-v2-latin-regular.woff2) format('woff2');
  src: url(/fonts/inter/inter-v2-latin-regular.woff) format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: optional;
  src: url(/fonts/inter/inter-v2-latin-500.woff2) format('woff2');
  src: url(/fonts/inter/inter-v2-latin-500.woff) format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: optional;
  font-weight: 700;
  src: url(/fonts/inter/inter-v2-latin-700.woff2) format('woff2');
  src: url(/fonts/inter/inter-v2-latin-700.woff) format('woff');
}

@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-display: optional;
  font-weight: 400;
  src: url(/fonts/fira-code/fira-code-v9-latin-regular.woff2) format('woff2');
  src: url(/fonts/fira-code/fira-code-v9-latin-regular.woff) format('woff');
}
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-display: optional;
  font-weight: 500;
  src: url(/fonts/fira-code/fira-code-v9-latin-500.woff2) format('woff2');
  src: url(/fonts/fira-code/fira-code-v9-latin-500.woff) format('woff');
}
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-display: optional;
  font-weight: 700;
  src: url(/fonts/fira-code/fira-code-v9-latin-700.woff2) format('woff2');
  src: url(/fonts/fira-code/fira-code-v9-latin-700.woff) format('woff');
}
