/* inter-regular - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: local(''), url('/fonts/inter-v2-latin-regular.woff2') format('woff2'),
    url('/fonts/inter-v2-latin-regular.woff') format('woff');
}

/* inter-500 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: optional;
  src: local(''), url('/fonts/inter-v2-latin-500.woff2') format('woff2'),
    url('/fonts/inter-v2-latin-500.woff') format('woff');
}
/* inter-700 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: optional;
  font-weight: 700;
  src: local(''), url('/fonts/inter-v2-latin-700.woff2') format('woff2'),
    url('/fonts/inter-v2-latin-700.woff') format('woff');
}

/* fira-code-regular - latin */
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-display: optional;
  font-weight: 400;
  src: local(''), url('/fonts/fira-code-v9-latin-regular.woff2') format('woff2'),
    url('/fonts/fira-code-v9-latin-regular.woff') format('woff');
}
/* fira-code-500 - latin */
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-display: optional;
  font-weight: 500;
  src: local(''), url('/fonts/fira-code-v9-latin-500.woff2') format('woff2'),
    url('/fonts/fira-code-v9-latin-500.woff') format('woff');
}
/* fira-code-700 - latin */
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-display: optional;
  font-weight: 700;
  src: local(''), url('/fonts/fira-code-v9-latin-700.woff2') format('woff2'),
    url('/fonts/fira-code-v9-latin-700.woff') format('woff');
}
