:root {
  --theme: 'light';
  --color-text: #3f404f;
  --color-text-secondary: #383838;
  --color-background: #fdfdfd;
  --color-nav-background: #ffffff4d;
  --color-muted: #cccfd077;
  --color-heading-primary: #34384d;
  --color-heading-secondary: #08ce3a;
  --color-highlight-1: #ff29a1;
  --color-highlight-2: #7717ff;
  --color-link: #0971f1;
  --color-link-posts: #eb3b75;

  --color-highlight-1: #ff29a1;
  --nav-box-shadow: 0 7px 30px #dbdbdb59;

  --highlight-box: #0971f117;

  --syntax-background: #f5f6f9;
  --syntax-comment: #7d7d7d;
  --syntax-text: #202020;
  --syntax-operator: #1590ac;
  --syntax-string: #07a830;
  --syntax-number: #cc6900;
  --syntax-primary: #d20378;
  --syntax-keyword: #5501ce;
  --syntax-html-tag: #ec0303;
  --syntax-boolean: #b6c420;
}

html[data-theme='dark'] {
  --theme: 'dark';
  --color-text: #f0f1f3;
  --color-text-secondary: #dbdada;
  --color-background: #0b0b0c;
  --color-nav-background: #00000063;
  --color-muted: #2c2d2dbb;
  --color-heading-primary: #ffffff;
  --color-heading-secondary: #50fa7b;
  --color-highlight-1: #ff79c6;
  --color-highlight-2: #bd93f9;
  --color-link: #8be9fd;
  --color-link-posts: #d63369;

  --highlight-box: #3a3d4f8a;
  --nav-box-shadow: none;

  --syntax-background: #1b1c24;
  --syntax-comment: #6272a4;
  --syntax-text: #f8f8f2;
  --syntax-operator: #8be9fd;
  --syntax-string: #50fa7b;
  --syntax-number: #ffb86c;
  --syntax-primary: #ff70c2;
  --syntax-keyword: #bd93f9;
  --syntax-html-tag: #ff5555;
  --syntax-boolean: #f1fa8c;
}

html,
body,
#__next {
  width: 100%;
  height: 100%;
  font-size: 18px;
  color: var(--color-text);
  background: var(--color-background);
  /* transition: 500ms;
  transition-property: background, color; */

  text-rendering: optimizeLegibility;
}

html {
  scroll-behavior: smooth;

  font: 100%/28px 'Inter', 'DejaVu Sans', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*::selection {
  /* background: var(--color-text);
  color: var(--color-background); */
  background: var(--color-link-posts);
  color: #fff;
}

:not(pre) > code {
  background: var(--syntax-background);
  color: var(--color-link-posts);

  transition: 500ms;
  transition-property: background, color;

  font-family: 'Fira Code', monospace;
  font-size: 0.9em;
  padding: 0.07em 0.5em;
  margin: 0 0.1em;
  border-radius: 3px;
}

/* :not(pre) > code::before {
  content: '`';
}

:not(pre) > code::after {
  content: '`';
} */
