@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body.light {
    --theme: 'light';
    --color-text: theme('colors.gray.800');
    --color-text-secondary: #6d6f88;
    --color-background: #fdfdfd;
    --color-nav-background: transparent;
    --color-muted: #cccfd077;
    --color-heading-primary: #34384d;
    --color-heading-secondary: #08ce3a;

    --color-link-posts: #eb3b75;

    --sc-bg: #f1f1f1;
    --sc-divider-light:rgba(140, 140, 140, .42);
    --sc-divider-dark:rgba(140, 140, 140, 1);;

    --syntax-background: #f5f6f9;
    --syntax-comment: #7d7d7d;
    --syntax-text: #202020;
    --syntax-operator: #1590ac;
    --syntax-string: #07a830;
    --syntax-number: #cc6900;
    --syntax-primary: #d20378;
    --syntax-keyword: #5501ce;
    --syntax-html-tag: #ec0303;
    --syntax-boolean: #b6c420;
  }

  body.dark {
    --theme: 'dark';
    --color-text: #fafbfc;
    --color-text-secondary: #dbdada;
    --color-background: #141415;
    --color-nav-background: #00000063;
    --color-muted: #2c2d2dbb;
    --color-heading-primary: #ffffff;
    --color-heading-secondary: #50fa7b;
    --color-link-posts: #d63369;

    --sc-bg: #111;
    --sc-divider-light:rgba(200, 200, 200, .12);
    --sc-divider-dark:rgba(200, 200, 200, .48);

    --syntax-background: #1b1c24;
    --syntax-comment: #6272a4;
    --syntax-text: #f8f8f2;
    --syntax-operator: #8be9fd;
    --syntax-string: #50fa7b;
    --syntax-number: #ffb86c;
    --syntax-primary: #ff70c2;
    --syntax-keyword: #bd93f9;
    --syntax-html-tag: #ff5555;
    --syntax-boolean: #f1fa8c;
  }

  html,
  body,
  #__next {
    @apply w-full h-full;
    --sc-width: 6px;
  }

  * {
    scrollbar-color: var(--sc-divider-light) var(--sc-bg);
  }

  ::-webkit-scrollbar {
    width: var(--sc-width);
  }
  ::-webkit-scrollbar:horizontal {
    height: var(--sc-width);
  }
  ::-webkit-scrollbar-track {
    background: var(--sc-bg);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--sc-divider-light);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: var(--sc-divider-dark);
  }

  body {
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
    color: var(--color-text);
    background: var(--color-background);
    font: 100%/1.75 'Inter', 'DejaVu Sans', sans-serif;
  }

  *::selection {
    @apply text-white bg-accent;
  }

  .link {
    @apply text-pink-600 hover:underline no-underline;
  }

  article :is(h2, h3, h4, h5, h6) {
    @apply text-gray-800 mt-8 mb-5 dark:text-gray-100 font-semibold flex;
  }

  h2 {
    @apply text-xl;
  }
  article h3 {
    @apply text-lg;
  }

  article img {
    @apply w-full mx-auto;
  }

  article hr {
    @apply text-primary w-1/3;
  }

  article strong {
    @apply dark:text-white text-black;
  }

  article blockquote code {
    @apply not-italic;
  }

  article :not(pre) > code {
    background: var(--syntax-background);
    color: var(--color-link-posts);

    font-family: 'Fira Code', monospace;
    @apply rounded-sm mx-1 py-[2px] px-2 text-sm transition-colors duration-300;
  }

  article blockquote {
    @apply relative py-1 pl-[2ch] pr-[1ch] my-8 italic bg-[#8a63ad14];
  }
  @media screen and (max-width: 700px) {
    article blockquote {
      width: 100vw; /*Percentage of full screen viewing width*/
      left: calc(-50vw + 50%); /*Centres div*/
    }
  }

  article blockquote::before {
    content: '';
    @apply w-2 h-full absolute top-0 left-0 inline-block bg-iridescent bg-zoom-350 animate-gradient;
  }

  article li {
    @apply relative pl-7 my-3;
  }

  article li::before {
    content: '';
    @apply absolute bg-gray-300 dark:bg-gray-600 rounded-full w-1.5 h-1.5 left-1 top-2.5;
  }
}

article .anchor {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

article :is(h2, h3, h4, h4, h6):hover .anchor {
  opacity: 1;
}
