:root {
  --color-text: #3f404f;
  --color-text-secondary: #383838;
  --color-background: #fdfdfd;
  --color-nav-background: #fffc;
  --color-muted: #cccfd0;
  --color-heading-primary: #34384d;
  --color-heading-secondary: #08ce3a;
  --color-highlight-1: #ff29a1;
  --color-highlight-2: #7717ff;
  --color-link: #0971f1;
  --color-link-posts: #ff29a1;

  --color-highlight-1: #ff29a1;

  /* --highlight-box: #0971f117; */

  --syntax-background: #f5f6f9;
  --syntax-muted: #7d7d7d;
  --syntax-white: #202020;
  --syntax-cyan: #1590ac;
  --syntax-green: #07a830;
  --syntax-orange: #cc6900;
  --syntax-pink: #d20378;
  --syntax-purple: #5501ce;
  --syntax-red: #ec0303;
  --syntax-yellow: #b6c420;
}

html[data-theme='dark'] {
  --color-text: #c4c5c9;
  --color-text-secondary: #dbdada;
  --color-background: #141516;
  --color-nav-background: #000000ad;
  --color-muted: #2c2d2d;
  --color-heading-primary: #ffffff;
  --color-heading-secondary: #50fa7b;
  --color-highlight-1: #ff79c6;
  --color-highlight-2: #bd93f9;
  --color-link: #8be9fd;
  --color-link-posts: #d63369;

  /* --highlight-box: #3a3d4f8a; */

  --syntax-background: #1b1c24;
  --syntax-muted: #6272a4;
  --syntax-white: #f8f8f2;
  --syntax-cyan: #8be9fd;
  --syntax-green: #50fa7b;
  --syntax-orange: #ffb86c;
  --syntax-pink: #ff70c2;
  --syntax-purple: #bd93f9;
  --syntax-red: #ff5555;
  --syntax-yellow: #f1fa8c;
}

html,
body,
#__next {
  width: 100%;
  height: 100%;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  color: var(--color-text);
  background: var(--color-background);
  transition: 500ms;
  text-rendering: optimizeLegibility;
}

html {
  scroll-behavior: smooth;

  font: 100%/28px 'Inter', -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*::selection {
  background: var(--color-text);
  color: var(--color-background);
}

:not(pre) > code {
  background: var(--syntax-background);
  color: var(--color-link-posts);

  transition: 500ms;

  font-family: 'Fira Code', monospace;
  font-size: 0.9em;
  padding: 0.07em 0.5em;
  margin: 0 0.1em;
  border-radius: 3px;
}

/* :not(pre) > code::before {
  content: '`';
}

:not(pre) > code::after {
  content: '`';
} */
